a {
    text-decoration: none;
    color: black;
}

html {
    font-family: c;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    scroll-behavior: smooth;
}

b {
    font-weight: 600;
}


h2,
h3,
p {
    padding: 0;
    margin: 0;
    line-height: 120%;
}

h1 {
    line-height: 110%;
    padding: 0;
    margin: 0;
    font-size: 32px;
}

div {
    line-height: 130%;
}

h2 {
    font-size: 22px;
    line-height: 140%;
    font-weight: 400;
    color: #37393B;
}

h3 {
    font-size: 16px;
}

body {
    padding: 0 12px;
    font-family: lato, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    line-height: 130% !important;
    scroll-behavior: smooth !important;
    background-image: url(./images/bg-2.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
}

.nav-container {
    padding: 12px 6px;
    background: #fffffff5;
    backdrop-filter: blur(24px);
    /* box-shadow: 0px 0px 10px #3333333b; */
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 10;
    /* -webkit-backdrop-filter: blur(3px); */
    /* backdrop-filter: blur(3px); */
    color: #37393B !important;
}

.nav-wrapper {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* min-width: 900px; */
    width: 70%;
    /* max-width: 1040px; */
    margin: 0 auto
}

/* .name-container { */
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: auto; */
    /* column-gap: 22px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
/* } */

.name-container img {
    display: block;
    margin: 12px auto 0 auto;
    height: 37px;
    /* margin: 0 15px 0 0; */
}

.name-container h2 {
    display: block;
    margin: auto 0 auto 0;
}

.links-container {
    margin: 6px auto;
}

.links-container a {
    display: block;
    margin: 6px auto;
    text-align: center;
    font-weight: 400;
}

h3{

    display: block;
    text-align: center;
}

/* #resume-link{ */
/* margin-right: 0px; */
/* } */

#about-link {
    display: none;
}

#menu-link {
    display: none;
}

#contact-number {
    font-size: 16px;
    font-weight: 600;
}

.head-banner {
    background-image: url(./images/head-banner-5.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 64px 0 0 0;
}

.section-wrapper {
    padding: 0 48px;
    /* width: 800px; */
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
    /* height: 60vh; */
    /* background-color: aqua; */
    background-color: rgba(184, 212, 230, 0.15);
}

.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 80px;
}

#borderLogo {
    display: block;
    height: 300px;
    filter: drop-shadow(0px 0px 45px #111807);
    padding: 64px 0;
    /* shape-rendering: crispEdges; */
}

/* .glass-back { */
/* grid-column: 2 / span 2; */
/* grid-row: 1 / span 1; */
/* z-index: 1; */
/* background: rgba(255, 255, 255, 0.17); */
/* backdrop-filter: blur(24px); */
/* } */

.headline-container {
    /* display: grid; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto auto auto auto; */
    /* row-gap: 12px; */
    padding: 64px 0;
    grid-column: 2 / span 2;
    /* height: 300px; */
    /* background-color: red; */
    grid-row: 1 / span 1;
    z-index: 2;
    text-shadow: 0px 0px 40px rgba(17, 24, 7, 0.98);
}

.headline-container h1 {
    padding: 15px 0 0 0;
    color: #F0C66F;
}

.headline-container p {
    font-size: 20px;
    color: rgba(245, 243, 241);
    font-weight: 400;
}

#stars-image {
    vertical-align: middle;
    padding-bottom: 4px;
    padding-right: 3px;
    height: 18px;
}

.button-1 {
    border-radius: 8px;
    outline: none;
    background-color: #a31c49;
    border: none;
    font-size: 15px;
    color: rgba(245, 243, 241);
    font-weight: 400;
    padding: 10px 30px 12px 30px;
    /* box-shadow: 0px 0px 40px rgba(17, 24, 7, 0.98); */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
    /* box-shadow: 0px 0px 36px #f0c56f3d; */
    font-family: lato, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    width: 310px

}


.button-1:hover {
    transform: scale(1.05, 1.05);
    /* box-shadow: 0px 0px 52px rgba(17, 24, 7, 0.795); */
    /* box-shadow: 0px 0px 52px #f0c56f79; */
}

.button-1:active,
.button-1:focus {
    border: solid #f0c56f 1px;
}

#rating-line {
    font-size: 18px;
}

.client-list {
    padding: 75px 0 100px 0;
}

.clients-wrapper {
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
}

#clientLogos {
    display: block;
    mix-blend-mode: multiply;
    width: 95%;
    /* min-width: 900px; */
    /* width: 70%; */
    /* max-width: 1040px; */
    margin: 65px auto 0 auto;
}

.products-list-banner {
    background-image: url(./images/products-banner-2.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.products-wrapper {
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
    background-color: rgba(184, 212, 230, 0.15);
    padding: 75px 48px 60px 48px;
}

.products-wrapper h2 {
    color: rgba(245, 243, 241);
    text-shadow: 0px 0px 40px rgba(17, 24, 7, 0.98);
    font-weight: 400;
}

.products-list-container {
    margin: 48px auto 52px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;
}

.product-listing {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto;
    padding: 0 12px 0 24px;
}

.product-listing img,
.product-listing ul {
    font-family: lato;
    display: block;
    color: rgba(245, 243, 241);
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(17, 24, 7, 0.98);
    line-height: 130%;
}

li {
    text-shadow: 0px 0px 40px rgba(17, 24, 7, 0.98);
}

.product-listing img {
    height: 70px;
    padding-top: 12px;
    margin: 0 auto;
}

.footer {
    background-color: rgba(245, 243, 241);
    padding: 15px 0 15px 0;
    font-size: 13px;
    color: #161a1fd7;
    box-shadow: inset 0 0 15px #bbb;
}

.footer-wrapper {
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
}

.border-overlay {
    z-index: 1;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    border-left: solid #f0c56f 1px;
    border-right: solid #f0c56f 1px;
}

#books {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#brochures {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#inserts {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#calendars {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#packaging {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#business {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#products-list-button {
    display: block;
    margin: 0 auto;
}

.services-list-banner {
    /* background-image: url(./images/products-banner-2.jpg); */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    padding: 75px 0 60px 0;
}

.services-wrapper {
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
}

.services-wrapper h2 {
    color: #222222;
    /* text-shadow: 0px 0px 40px rgba(17, 24, 7, 0.98); */
    font-weight: 400;
}

.services-container {
    margin: 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 32px;
    column-gap: 28px;

    /* background-color: aqua; */
}

.services {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 12px;
}

.services p,
.services img {
    display: block;
    text-align: center;
}

.services img {
    margin: auto;
    width: 100%;
}

.services p {
    font-weight: 600;
    font-size: 16px;
}

#services-list-button {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 36px #dddddd3d;
}

#services-list-button:hover {
    transform: scale(1.05, 1.05);
    /* box-shadow: 0px 0px 52px rgba(17, 24, 7, 0.795); */
    box-shadow: 0px 0px 52px #ebebeb79;
}

.contact-footer {
    background-color: #37393B;
    padding: 75px 0 60px 0;
}

.contact-wrapper {
    min-width: 900px;
    width: 70%;
    max-width: 1040px;
    margin: 0 auto 0 auto;
}

.main-grid {
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: auto;
}

.head-grid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    column-gap: 22px;
}

.text-grid {
    padding: 10px 0 0 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
}

.text-grid h2 {
    display: block;
    color: #fff;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}